/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

.grid-container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px 0 10px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*BODY*/

body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */

header {
    height: 100px;
    background: rgba(226, 226, 226, 1);
    background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 30%, rgba(209, 209, 209, 1) 58%, rgba(209, 209, 209, 1) 69%, rgba(254, 254, 254, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(30%, rgba(219, 219, 219, 1)), color-stop(58%, rgba(209, 209, 209, 1)), color-stop(69%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
    background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 30%, rgba(209, 209, 209, 1) 58%, rgba(209, 209, 209, 1) 69%, rgba(254, 254, 254, 1) 100%);
    background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 30%, rgba(209, 209, 209, 1) 58%, rgba(209, 209, 209, 1) 69%, rgba(254, 254, 254, 1) 100%);
    background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 30%, rgba(209, 209, 209, 1) 58%, rgba(209, 209, 209, 1) 69%, rgba(254, 254, 254, 1) 100%);
    background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 30%, rgba(209, 209, 209, 1) 58%, rgba(209, 209, 209, 1) 69%, rgba(254, 254, 254, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
}

#logo {
    margin-top: -26px;
    float: left;
    height: 150px;
    width: 150px;
    background-image: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.icon-home,
.icon-address-card,
.icon-handshake-o,
.icon-volume-control-phone,
.icon-basket,
.icon-users {
    font-size: 2em;
    color: white;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -10px;
}
/*top-nav*/

.nav-main {
    float: right;
    margin-right: 10px;
}

.nav-main>li {
    line-height: 41px;
    display: inline-block;
}

.nav-main>li a {
    color: white;
    text-decoration: none;
    padding-bottom: 2px;
    margin: 0px;
    margin-right: 20px;
    padding-top: 10px;
    display: block;
    width: 100%;
    height: 100%;
}

.nav-main li a span {
    font-size: 0.5em;
}

.nav-main>li:hover a span {
    border-bottom: 1.5px solid white;
}

.nav-main>li:first-child {
    height: 100px;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    background-color: rgb(35, 62, 86);
}

.nav-main>li:first-child:hover {
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    height: 120px;
}

.nav-main>li:nth-child(2) {
    height: 100px;
    background-color: rgb(141, 167, 174);
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.nav-main>li:nth-child(2):hover {
    height: 120px;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.nav-main>li:nth-child(3) {
    height: 100px;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    background-color: rgb(0, 118, 193);
}

.nav-main>li:nth-child(3):hover {
    height: 120px;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.nav-main>li:nth-child(4) {
    height: 100px;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    background-color: rgb(98, 101, 103);
}

.nav-main>li:nth-child(4):hover {
    height: 120px;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.nav-main>li:nth-child(5) {
    height: 100px;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    background-color: rgb(243, 159, 0);
}

.nav-main>li:nth-child(5):hover {
    height: 120px;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.nav-main>li:nth-child(6) {
    height: 100px;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    background-color: rgb(4, 17, 23);
}

.nav-main>li:nth-child(6):hover {
    height: 120px;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

/*hamburger-menu*/

#x-menu {
    top: -24px;
    right: 10px;
    width: 35px;
    height: 40px;
    position: absolute;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#x-menu span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #4C4C4B;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#x-menu span:nth-child(1) {
    top: 0px;
}

#x-menu span:nth-child(2) {
    top: 13px;
}

#x-menu:hover span:nth-child(2) {
    background-color: #3299D5;
}

#x-menu span:nth-child(3) {
    top: 26px;
}

#x-menu.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#x-menu.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    background-color: #3299D5;
}

#x-menu.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/*SECTION*/

section {
    min-height: 1100px;
}

/*form-field*/

form {
    padding-top: 70px;
    padding-bottom: 70px;
}

fieldset {
    margin-bottom: 20px;
    border-radius: 10px;
    margin: auto;
    height: 60px;
    border: 1.3px solid black;
    width: 60%;
}

legend {
    margin-left: 4%;
}

#field_bottom {
    padding-top: 20px;
    margin: auto;
    width: 80%;
}

.search-style {
    float: left;
    width: 82%;
    height: 50px;
    margin-top: -6px;
    z-index: -1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    font-size: 1.7em;
    margin-left: 4px;
}

.search-style:focus {
    outline: 0;
}

.magnifier {
    height: 55.6px;
    min-width: 15%;
    float: right;
    margin-top: -9px;
    margin-right: -2px;
    background-color: rgb(0, 118, 193);
    background-position: center;
    background-image: url(../images/f9bb81e576c1a361c61a8c08945b2c48-search-icon-by-vexels.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-size: contain;
}

.magnifier:focus {
    outline: 0;
}


/*table*/

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 30px #888888;
}

table:hover {
    cursor: pointer;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
        
}


th {
    background-color: rgb(35, 62, 86);
    box-shadow: 5px 5px 5px #888888;
}

th a {
    font-size: bold;
    color: white;
    text-decoration: none;
}

tr:hover {
    background-color: rgba(243, 159, 0, 0.5);
}


/*page-edition-field */

#box-button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 25px;
}

#button-prev {
    width: 70px;
    height: 50px;
    float: left;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    padding: 0 10px;
    color: #ffffff;
    background-color: rgb(0, 118, 193);
    position: relative;
    display: inline-block;
    border: none;
}

#button-prev:after {
    position: absolute;
    right: 70px;
    content: " ";
    width: 0px;
    height: 0px;
    transform: rotate(180deg);
    border-style: solid;
    border-width: 25px 0 25px 20px;
    border-color: transparent transparent transparent rgb(0, 118, 193);
}

#button-prev:hover {
    box-shadow: 3px 3px 5px #888888;
}

#button-prev:hover:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 0 25px 20px;
    border-color: transparent transparent transparent rgb(0, 118, 193);
}

button:focus {
    outline: 0;
}

.counter {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    height: 50px;
    width: 35px;
    border-top: 1px solid rgb(0, 118, 193);
    border-bottom: 1px solid rgb(0, 118, 193);
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}

#button-next {
    width: 70px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    padding: 0 10px;
    color: #ffffff;
    background-color: rgb(0, 118, 193);
    position: relative;
    display: inline-block;
    border: none;
}

#button-next:after {
    position: absolute;
    right: -20px;
    content: " ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 0 25px 20px;
    border-color: transparent transparent transparent rgb(0, 118, 193);
}

#button-next:hover {
    box-shadow: 3px 3px 5px #888888;
}

#button-next:hover:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 0 25px 20px;
}

/*FOOTER*/

footer {
    min-height: 110px;
    background: rgba(247, 242, 247, 1);
    background: rgba(252, 249, 252, 1);
    background: -moz-linear-gradient(top, rgba(252, 249, 252, 1) 0%, rgba(252, 249, 252, 1) 1%, rgba(176, 176, 176, 1) 18%, rgba(89, 89, 89, 1) 38%, rgba(71, 71, 71, 1) 46%, rgba(44, 44, 44, 1) 56%, rgba(44, 44, 44, 1) 63%, rgba(43, 43, 43, 1) 66%, rgba(17, 17, 17, 1) 85%, rgba(19, 19, 19, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252, 249, 252, 1)), color-stop(1%, rgba(252, 249, 252, 1)), color-stop(18%, rgba(176, 176, 176, 1)), color-stop(38%, rgba(89, 89, 89, 1)), color-stop(46%, rgba(71, 71, 71, 1)), color-stop(56%, rgba(44, 44, 44, 1)), color-stop(63%, rgba(44, 44, 44, 1)), color-stop(66%, rgba(43, 43, 43, 1)), color-stop(85%, rgba(17, 17, 17, 1)), color-stop(100%, rgba(19, 19, 19, 1)));
    background: -webkit-linear-gradient(top, rgba(252, 249, 252, 1) 0%, rgba(252, 249, 252, 1) 1%, rgba(176, 176, 176, 1) 18%, rgba(89, 89, 89, 1) 38%, rgba(71, 71, 71, 1) 46%, rgba(44, 44, 44, 1) 56%, rgba(44, 44, 44, 1) 63%, rgba(43, 43, 43, 1) 66%, rgba(17, 17, 17, 1) 85%, rgba(19, 19, 19, 1) 100%);
    background: -o-linear-gradient(top, rgba(252, 249, 252, 1) 0%, rgba(252, 249, 252, 1) 1%, rgba(176, 176, 176, 1) 18%, rgba(89, 89, 89, 1) 38%, rgba(71, 71, 71, 1) 46%, rgba(44, 44, 44, 1) 56%, rgba(44, 44, 44, 1) 63%, rgba(43, 43, 43, 1) 66%, rgba(17, 17, 17, 1) 85%, rgba(19, 19, 19, 1) 100%);
    background: -ms-linear-gradient(top, rgba(252, 249, 252, 1) 0%, rgba(252, 249, 252, 1) 1%, rgba(176, 176, 176, 1) 18%, rgba(89, 89, 89, 1) 38%, rgba(71, 71, 71, 1) 46%, rgba(44, 44, 44, 1) 56%, rgba(44, 44, 44, 1) 63%, rgba(43, 43, 43, 1) 66%, rgba(17, 17, 17, 1) 85%, rgba(19, 19, 19, 1) 100%);
    background: linear-gradient(to bottom, rgba(252, 249, 252, 1) 0%, rgba(252, 249, 252, 1) 1%, rgba(176, 176, 176, 1) 18%, rgba(89, 89, 89, 1) 38%, rgba(71, 71, 71, 1) 46%, rgba(44, 44, 44, 1) 56%, rgba(44, 44, 44, 1) 63%, rgba(43, 43, 43, 1) 66%, rgba(17, 17, 17, 1) 85%, rgba(19, 19, 19, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf9fc', endColorstr='#131313', GradientType=0);
}

.footer_menu {
    width: 100%;
}

.footer_menu li {
    display: inline-block;
    width: 16.21%;
    /*   16.378*/
}

.footer_menu li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px 0 10px 0;
    text-align: center;
}

.footer_menu li:first-child {
    background-color: rgb(35, 62, 86);
    position: relative;
}

.footer_menu li:nth-child(2) {
    background-color: rgb(141, 167, 174);
    position: relative;
}

.footer_menu li:nth-child(3) {
    background-color: rgb(0, 118, 193);
    position: relative;
}

.footer_menu li:nth-child(3):hover {}

.footer_menu li:nth-child(4) {
    background-color: rgb(98, 101, 103);
    position: relative;
}

.footer_menu li:nth-child(5) {
    background-color: rgb(243, 159, 0);
    position: relative;
}

.footer_menu li:nth-child(6) {
    background-color: rgb(4, 17, 23);
    position: relative;
}

#icon1 {
    color: rgb(35, 62, 86);
}

#icon2 {
    color: rgb(141, 167, 174);
}

#icon3 {
    color: rgb(0, 118, 193);
}

#icon4 {
    color: rgb(98, 101, 103);
}

#icon5 {
    color: rgb(243, 159, 0);
}

#icon6 {
    color: rgb(4, 17, 23);
}

.icon_footer {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 40%;
    color: black;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.footer_menu li:hover .icon_footer {
    top: -45px;
    left: 40%;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}


.rights {
    color: white;
    text-align: center;
    vertical-align: text-bottom;
    padding: 25px;
}


/*RWD*/



@media (max-width: 800px) {
    
    fieldset {
 width: 80%;
}
    
    .nav-main {
        display: none;
    }
    .footer_menu {
        margin-top: 25px;
    }
    .footer_menu li {
        display: inline;
        text-decoration: underline;
    }
    .footer_menu li:first-child a {
        color: rgb(98, 101, 103);
    }
    .footer_menu li:nth-child(2) a {
        color: rgb(4, 17, 23);
    }
    .footer_menu li:nth-child(3) a {
        color: rgb(35, 62, 86);
    }
    .footer_menu li:nth-child(4) a {
        color: rgb(141, 167, 174);
    }
    .footer_menu li:nth-child(5) a {
        color: rgb(0, 118, 193);
    }
    .footer_menu li:nth-child(6) a {
        color: rgb(243, 159, 0);
    }
    .icon_footer {
        display: none;
    }
}

@media (max-width: 400px) {
    
    fieldset {
 width: 90%;
}
}


@media (min-width: 799px) {
    .nav-main {
        display: block;
    }
    #x-menu {
        display: none;
    }
}
@media (max-width: 800px) {
    #box-button {
    position: fixed;
    top: 202px;
    left: 30%;
    color: rgb(243, 159, 0);

    }
    .counter {
        opacity: 1;
    }
    #button-prev {
        color: rgb(0, 118, 193);
        opacity: 0.5;
    }
      #button-next {
        color: rgb(0, 118, 193);
        opacity: 0.5;
    }
}

@media (max-width: 550px){
#box-button {
    left: 20%;
    }
}


@media (max-width: 450px){
#box-button {
    left: 15%;
    }
}